<div class="order-panel" ng-show="$ctrl.isVisible">
      <md-card>
        <md-subheader class="md-no-sticky">
            <div layout="row">
                <div flex="grow">
                    Order Panel
                </div>
                <div flex="nogrow">
                    <md-button md-no-ink class="md-primary" ng-click="$ctrl.hide()">Hide</md-button>
                </div>
            </div>                
        </md-subheader>
        <md-card-content>
            <p>Bottom view content</p>
        </md-card-content>
    </md-card>
</div>
