@import '../../variables';

.app-toolbar {
  min-height: 56px;
  height: 56px;
}

.app-toolbar-title {
  width: 235px;
}

.app-toolbar-breadcrumb {
  margin-left: 6px;
}

.app-toolbar-widget {
  margin-left: 20px;
}
