.stock-detail-no-content {
    text-align: center;
}

.stock-detail-invalid-content {
    text-align: center;
}

.stock-detail-quotes {
    margin-top: 20px;
}

.stock-detail-summary {
    margin-top: 20px;
}